.contact {
  display: flex;
  gap: 4px;
  align-items: center;
  color: $accent;

  @include font-style($upper-text);

  &__icon {
    display: block;

    width: 24px;
    height: 24px;

    background-color: $accent;

    mask-image: url(../images/icons/phone.png);
  }
}
