.product {
  &__img {
    cursor: pointer;

    transform: scale(1);

    margin-bottom: 16px;
    border-radius: 8px;

    transition: 0.5s ease;

    &:hover {
      transform: scale(1.02);
    }
  }

  &__title {
    margin-bottom: 8px;
    color: $grey-color;

    @include font-style($upper-text);
  }

  &__text {
    margin-bottom: 16px;

    @include font-style($body-text);
  }

  &__order {
    display: inline-flex;
    gap: 4px;
    align-items: center;
    width: fit-content;
  }
}
